{% extends 'base.html'%}



{% block content %}
    <div class="container-fluid">
    	<div class="row m-1">
    	<div class="card rCard">
						  			<div class="card-header"><h5 style="font-family:Arial Black">ALMA MOTORS PVT. LTD. </h5> </div>
						  				 
						  				 <div class="card-body">
						  				 <a href="{% url 'homepage' %}"><button class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i>Back</button></a>	
						  				 	
						  				 <h6>Design Engineer</h6>	
						  				 <p class="fs-6 fw-light text-end">
						  				 <span>BELGAUM, INDIA</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  				 <span>Sept 2003  –  June 2005 </span>
						  				 </p>						
						  				 	<p class="card-text">ALMA Motors Pvt. Ltd is one of the leading Bus manufacturing organization in India having customers like Ashok Leyland, Bajaj, Mahindra and Mahindra, Eicher etc.</p>
						  				 	<div class="card rCard">
						  				 		<div class="card-header"> RESPONSIBILITY</div>
						  				 		<div class="card-body">
						  				 			<ul>
						  				 				<li>Preparation of Offer drawings and specifications, preparation of Production drawings, Bill of Material, Preparation of various types of reports. Was Process control and process planning coordinator for Press Shop, Shop floor and vender development, was coordinator for material control, cost reduction and material utilization, was system development coordinator and analyser.</li>

												 	</ul>
						  				 		</div>	
						  				 	</div>	
						  				 	
						  				 	

						  				 </div>
									</div>
							   </div>	
    	</div>	
 	</div>   
{% endblock content %}