{% extends 'base.html'%}



{% block content %}
    <div class="container-fluid">
    	<div class="row m-1">
    	<div class="card rCard">
						  			<div class="card-header"><h5 style="font-family:Arial Black"> MIDCO EQUIPMENT LLC</h5> </div>
						  				 
						  				 <div class="card-body">
						  				 <a href="{% url 'homepage' %}"><button class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i>Back</button></a>
						  				 <h6>Mechanical Engineer</h6>	
						  				 <p class="fs-6 fw-light text-end">
						  				 <span>Dubai - UAE</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  				 <span>July 2005  – March 2009 </span>
						  				 </p>						
						  				 	<p class="card-text">MIDCO Equipment LLC is engaged in the business of industrial Equipments, woodworking machines, Aluminum machines, Garage Equipments, and Industrial tools with world class brands.</p>
						  				 	<div class="card rCard">
						  				 		<div class="card-header"> RESPONSIBILITY</div>
						  				 		<div class="card-body">
						  				 			<ul>
						  				 				<li>Responsible for supporting customer in their enquiries, identifying application and technical requirements of the customer. Identifying and developing sales opportunities, providing sales support to customers. To develop new customers, to educate the prospects or possible customers, fill needs and satisfy wants of the customers appropriately, and therefore turn prospective customers into actual ones by communicating the necessary information that encourage the customer to make a deal.</li>

												 	</ul>
						  				 		</div>	
						  				 	</div>	
						  				 	
						  				 	

						  				 </div>
									</div>
							   </div>	
    	</div>	
 	</div>   
{% endblock content %}