{% extends 'base.html'%}



{% block content %}
    <div class="container-fluid">
    	<div class="row m-1">
    	<div class="card rCard">
						  			<div class="card-header"><h5 style="font-family:Arial Black"> NPK MIDDLE EAST FZE</h5> </div>
						  				 
						  				 <div class="card-body">
						  				 <a href="{% url 'homepage' %}"><button class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i>Back</button></a>
						  				 <h6>Sales Manager</h6>	
						  				 <p class="fs-6 fw-light text-end">
						  				 <span>Sharja - UAE</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  				 <span>Jan2015 - Present</span>
						  				 </p>						
						  				 	<p class="card-text">NPK Middle East FZE is Daughter Company of Nippon Pneumatic Mfg. Co. Ltd.  Japan and regional sales and service office, dealing in excavator mounted NPK Hydraulic attachments and the spare parts with dealers network in Middle East, Asian and African countries</p>
						  				 	<div class="card rCard">
						  				 		<div class="card-header"> RESPONSIBILITY</div>
						  				 		<div class="card-body">
						  				 			<ul>
						  				 		<li>Establishing and maintaining long-term relationships with dealers and customers.	</li>
												<li>	Providing pre-sales technical assistance and product education.	</li>
												<li>	Preparing the sales and technical presentation explaining the NPK product and its features.	</li>
												<li>	Interacting with customer / dealers to check requirements and assist with proper recommendation and suggestions.	</li>
												<li>	Coordinating with the dealer’s sales and marketing team to understand customer requirements and providing sales support.	</li>
												<li>	Preparing the quotation / Pro-forma to secure orders and arrange delivery from the factory.	</li>
												<li>	Coordinating with factory for the smooth and hassle-free on time delivery. 	</li>
												<li>	Collecting the customer feedback and competitor information and passing to concern department to convert in to feedforward and improve the product, performance and market share.	</li>
												<li>	Conducting the sales training to the dealer’s sales team and assisting with the sales and marketing material.	</li>
												<li>	Negotiating tender and contract terms through dealers.	</li>
												<li>	Negotiating and closing sales by agreeing terms and conditions.	</li>
												<li>	Offering after-sales support services, customers and dealers visit.	</li>
												<li>	Conducting regular repair and service training to the dealers and customer. 	</li>
												<li>	Visiting job sites for trouble analysis, operation study etc.	</li>
												<li>	Conducting the maintenance and operation training to the end user operators.	</li>
												<li>	Preparing sales service and field reports for head office.	</li>
												<li>	Addressing the trouble and technical quires of the dealers / user.  	</li>
												<li>	Communicating discussing the service and technical issues with the other members of service department in head office in Japan. 	</li>
												<li>	Reviewing warranty claim and discussing the same with the service department in Japan and approving the warranty with company’s standard warranty policy and the system.  	</li>
												 	</ul>
						  				 		</div>	
						  				 	</div>	
						  				 	
						  				 	

						  				 </div>
									</div>
							   </div>	
    	</div>	
 	</div>   
{% endblock content %}