{% extends 'base.html'%}



{% block content %}
    <div class="container-fluid">
    	<div class="row m-1">
    	<div class="card rCard">
						  			<div class="card-header"><h5 style="font-family:Arial Black"> NPK MIDDLE EAST FZCO</h5> </div>
						  				 
						  				 <div class="card-body">
						  				 <a href="{% url 'homepage' %}"><button class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i>Back</button></a>
						  				 <h6>Sales Engineer</h6>	
						  				 <p class="fs-6 fw-light text-end">
						  				 <span>Jebel Ali Dubai - UAE</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  				 <span>April 2009 - Dec 2014</span>
						  				 </p>						
						  				 	<p class="card-text">NPK Middle East FZCO was the regional sales and distribution office of NPK Japan dealing in NPK Hydraulic hammer and the spare parts with dealers network in Middle East, Asian and African countries, was based in Jebel Ali Free Zone, Dubai</p>
						  				 	<div class="card rCard">
						  				 		<div class="card-header"> RESPONSIBILITY</div>
						  				 		<div class="card-body">
						  				 			<ul>
						  				 				<li>	 To actively promote NPK Hydraulic Breaker and spare parts business in Middle East and associated market.	</li>
														<li>	Collecting enquires and requirements of the dealers for NPK products.	</li>
														<li>	Visiting the customers for presale meeting and educating about the product to the customers.	</li>
														<li>	 Preparing the quote to the dealers and customers.	</li>
														<li>	Negotiating tender and contract terms through dealers, 	</li>
														<li>	 Negotiating and closing sales by agreeing terms and conditions.	</li>
														<li>	 To manage and review the inventory of spare parts, equipment and rearrange reorder spare parts from the factory and to make sure all the fast moving part are available in stock all the time.	</li>
														<li>	 Providing after sales support to the customers and dealers.	</li>
														<li>	 Providing sales training and service training to the dealer’s sales and service team respectively.  	</li>
														<li>	Educating the operator and the end used for operation and maintenance about the product.	</li>
														<li>	Gathering the field information and the feedback from dealer’s user and operators.  	</li>
														<li>	Addressing the trouble and technical quires of the dealers / user.  	</li>
														<li>	Assisting the dealer with the warranty claims.	</li>
														<li>	Providing sales forecast and prediction to the head office.	</li>
														<li>	Coordinating with the freight forwarder / clearing agents for customs clearing from Jebel Ali free zone for outgoing and incoming shipments. 	</li>
														<li>	Coordinating with the finance department to negotiate the letter of credit from the dealers.	</li>

												 	</ul>
						  				 		</div>	
						  				 	</div>	
						  				 	
						  				 	

						  				 </div>
									</div>
							   </div>	
    	</div>	
 	</div>   
{% endblock content %}